<div class="col-md-10 col-md-offset-1">
  <div class="pane panel-default">
    <div class="panel panel-body">
      <%= bootstrap_form_for(@recipe) do |f| %>
        <% if @recipe.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

            <ul>
            <% @recipe.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.text_field :title %>
        </div>
        <div class="field">
          <%= f.text_area :description %>
        </div>
        <div class="field">
          <%= f.file_field :image, as: :file %>
        </div>

        <div class="row">
          <div class="col-md-4">
            <h3>Ingredients</h3>
            <%= f.fields_for :ingredients do |ingredient| %>
              <%= render 'ingredient_fields', f: ingredient %>
            <% end %>
              <div class="links">
                <%= link_to_add_association 'Add Ingredient', f, :ingredients, class: "btn btn-default add-button" %>
              </div>
          </div>

          <div class="col-md-4" style="display: float-right">
            <h3>Directions</h3>
            <%= f.fields_for :directions do |direction| %>
              <%= render 'direction_fields', f: direction %>
            <% end %>
              <div class="links">
                <%= link_to_add_association 'Add Direction', f, :directions, class: "btn btn-default add-button" %>
              </div>
          </div>
        </div>
      <div class="actions">
          <%= f.submit %>
      </div>
    </div>
    <% end %>
  </div>
</div>
