  <p id="notice"><%= notice %></p>

  <h1 style="text-align: center">Checkout our Awesome Recipes</h1>

      <% @recipes.each do |recipe| %>

          <div class="col-xs-12 col-md-4 ">
            <div id="index_image" class="panel panel-default">
              <div class="panel panel-body">

                  <%= image_tag recipe.image.url(:medium) %>
                <p>
                  <h2 style="text-align: center"><%= link_to recipe.title, recipe %></h2>
                </p>
                <!-- <p>
                  <%= recipe.description %>
                </p> -->
                <!-- <%= recipe.user_id %> -->
            </div>
              <div class="panel panel-footer">
                <%= link_to 'Show', recipe %>
                <%= link_to 'Edit', edit_recipe_path(recipe) %>
                <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          </div>
      <% end %>
