<div class="col-md-6 col-md-offset-3">
  <p id="notice"><%= notice %></p>

  <h1>All our Recipes</h1>

      <% @recipes.each do |recipe| %>

          <div class="panel panel-default">
            <div class="panel panel-body">
                <%= image_tag recipe.image.url(:medium) %>
              <p>
                <h2><%= link_to recipe.title, recipe %></h2>
              </p>
              <!-- <p>
                <%= recipe.description %>
              </p> -->
              <!-- <%= recipe.user_id %> -->
          </div>
            <div class="panel panel-footer">
              <%= link_to 'Show', recipe %>
              <%= link_to 'Edit', edit_recipe_path(recipe) %>
              <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
      <% end %>

  <br>

  <%= link_to 'New Recipe', new_recipe_path %>
</div>
