<div class="col-md-8 col-md-offset-2">
  <p id="notice"><%= notice %></p>
  <div class="panel panel-default">
    <div class="panel panel-body">

      <%= image_tag @recipe.image.url(:medium) %>

      <p>
        <strong>Title:</strong>
        <%= @recipe.title %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @recipe.description %>
      </p>

      <!-- <p>
        <strong>User:</strong>
        <%= @recipe.user_id %>
      </p> -->
    </div>
    <div class="panel panel-footer">
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_recipe_path(@recipe) if can? :edit, Recipe %>
      <% else %>
        <%= link_to 'Back', recipes_path %>
      <% end %>
    </div>
</div>
</div>
