<!DOCTYPE html>
<html>
<head>
  <title>RecipeBox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <nav class="navbar-brand"><%= link_to 'Recipes', root_path %></nav>
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "New Recipe", new_recipe_path %></li>
          <li><%= link_to "Account", edit_user_registration_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Sign Up",  new_user_registration_path %></li>
        </ul>
      <% end %>
    </div>
  </nav>

<%= yield %>

</body>
</html>
